body {
    font-size: 16px;
}

#header-nav {
    background-color: gray;
    border-radius: 0;
    border: 1px solid black;
}

.navbar-brand h1 {
    margin-top: 0;
    font-size: 1.6em;
    color: #000;
}

.navbar-header button.navbar-toggle,
.navbar-header .icon-bar {
    border: 1px solid black;
}

#nav-list a {
    text-align: center;
    font-size: 1.1em;
    color: white;
}

#nav-list li hr {
    margin: 0;
    width: 100%;
}

#nav-list a:hover {
    color: black;
    background-color: white;
}

#page-title {
    font-size: 1.6em;
    margin-bottom: 20px;
}

section {
    background-color: lightgray;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.section-title {
    text-align: center;
    font-size: 1.3em;
    font-style: bold;
    margin-top: 10px;
    margin-bottom: 10px;

}